<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>lin-quiz-tic</title>
  <!-- stylesheets -->
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,700|Bitter:400,700|Nunito:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
    {% block content %}
    {% endblock %}
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/js/main.js"></script>
</body>
</html>
